@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1>Hello from serverside rendered blazor</h1>
  <demo-component msg="Hello from clientside rendered Vue component"></demo-component>
  <br>
  <demo-event-component></demo-event-component>
</div>